<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.right{
        position: absolute;
        right: 34px;
        top: 10px;
display: inline-block;
 }
 .formwork{
 color:blue;
 
 }
 
 .container h5{
font-size: 50px;
 color:rgb(0, 0, 0);
 font-family: 'Baloo Bhai 2';
  
 }
 .btn{
        font-family: 'Baloo Bhai 2', cursive;
        margin: 0px 9px;
        background-color: rgb(234, 128, 15);
        color: white;
        text-align:center;
        }
.navbar li a{
font-family: 'Baloo Bhai 2', cursive;
color: rgb(197, 35, 35);
        }
.container u{
color:rgb(18, 231, 142);
}
    </style>
<body style="background-image:url('https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?w=2000');"> 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">HOME</a></li>
      <li><a href="/register">REGISTER</a></li>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/about">ABOUT US</a></li>
    </ul>
  </div>
</nav>
<div class="right">
<form action="/contact" method="get" target="_blank">
         <button class="btn">contact us</button>
      </form>


</div>  
<div class="container">
       <center><u><h5>JOB PORTAL<h5></u></center>
    </div>
    <br>
<!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="main-logo-img mt-3" href="#"><img src="" alt="" height="0px" width="0px">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
        <section class="our-focus">
            <div class="container">
              <center><h1 class="text-center mt-3">.....ABOUT US.....</h1></center>
<br>
<br>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">MISSION</h5>
<br>
                     <b> <p class="card-text">Job recommender is an application that builds a relation between the candidates and the organisation.
                      The outcome will be the recommendations based on what domains and the fields that the candidates are intrested.
                      This system work in areas like search queries,hashtags and more.We have integrated with IBM cloud and used some technologies like python,Docker and more.
                      
                      </p>
                    </div>
                  </div>
                </div></b>
               <b> <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">VISSION</h5>
                      <p class="card-text">Our main objective is to recommend appropriate jobs for the users and satisfy 
                        their needs by asking them various questions based on the induvidual's interest on domain,salary pakage,area of interest and the skills the are filled with.
                        With this the young talents will be able to find a job and start a career.It will also support the working employees to develope in their career. </p>
                    </div>
                  </div>
                </div></b>
                <b><div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">OBJECTIVE</h5>
                      <p class="card-text">Well directed career guidance for the employees and the freshers;expand employment accross the world;
                        identify a perfect candidate for a specific job role;to increase the current industry standards;to make the candidates fly through the employment.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div></b>
          </section>
          <!-- focus section ends -->

        <!-- footer starts -->
          <!-- Site footer -->
          <script>
  window.watsonAssistantChatOptions = {
    integrationID: "db02aed9-1627-4889-b8c4-5cf30e7ab189", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "36d66a11-498c-4821-a1a1-6008bddc50e5", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
		  
</body>
</html>