<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOBPORTAL | HOME</title>
       <!-- <div class="msg">{{ msg }}</div> -->
    <meta charset="UTF-8">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="/image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
		
		<style>
table, th, td ,tr,thead{
  border:5px solid black;
}
</style>
</head>
<body style="background-image:url('https://img.freepik.com/premium-photo/magnifying-glass-blue-background-wallpaper-copy-space-symbol-decoration-ornament-hr-human-recruitment-research-discovery-work-job-career-resume-interview-hiring-employment-choice-focus3d-render_178037-844.jpg?w=1800');">
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="main-logo-img mt-3" href="#"><img src="" alt="">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
             
              <div class="row donate-sponsor">
                <a type="button" class="btn btn-success mr-1" id="donate" href="/logout">LOGOUT</a>
                <a type="button" class="btn btn-warning mr-1" id="sponsor" href="register">REGISTER</a>
              </div>
            </div>
          </nav>
          <!-- navbar ends -->

        <!-- what we focus on -->
        <div class="m-4 container">
          <h1><u>Your Details</u></h1>
      </div>
      <div class="m-4 container">
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Sr.No</th>
                      <th scope="col">Username</th>
                      <th scope="col">Emailid</th>
                      <th scope="col">Qualification</th>
                      <th scope="col">Skills</th>
                      <th scope="col">Jobs</th>
                  </tr>
              </thead>
              <tbody>
  
                  {% for row in account %}
                  <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td>{{row[0]}}</td>
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                      <td>{{row[4]}}</td>

                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
         
</body>
</html>
